body {
  background-color: #CBD1E9;
  font-family: Karla;
  color: #515A5A;
  font-size: 16pt;
  position: relative;
}
/* USE THIS HEADER */
header {
  font-family: Comfortaa;
  font-size: 48px;
  padding: 40px;
  background-color: #6e8aff;
  color: white;
  position: relative;
}
.dot {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #4963CE;
  position: relative;

  display: inline-block;
}
.rectangle {
  height: 30px;
  width: 90%;
  background-color: #3fb893;
  margin-left: 5%;
  position: absolute;
  bottom: -15px;
  left: 0px;
}
/*USE THE ABOVE*/

.main-text {

  font-size: 14px;
  background-color: #ECECEC;
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px
}
h1 {
  font-family: Comfortaa;
  font-size: 48px;
  color: #ECECEC;
  position: absolute;
  padding-left: 20px;
  display: inline-block;
}
h2 {
  font-family: Comfortaa;
  font-size: 36px;
  color: #3B403E;
  padding-top: 30px;
}

.accordion {
    font-family: Karla;
    font-size: 16px;
    background-color: #6e8aff;
    color: #ECECEC;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #9eb0ff;
}

.panel {
    font-family: Karla;
    font-size: 16px;
    padding: 0 18px;
    margin: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#myBtn {
    background-color: transparent;
    border: none;
    display: inline-block;
}

footer {
    text-align: center;
    font-size: 14px;
}
