
h1{
    font-family: 'Comfortaa', cursive;
    font-size: 36pt;
   
}


h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive; 
    font-size: 22pt;
    
    
}
p1, p2, p3, p4, p5, p6 {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    margin-left: 100pt;
    color: #515a5a
} 
body{
    background-color: #ececec;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.header {
    position: relative;
    text-align: center;
    color: #ececec;
    background-color: #6e8aff;
    padding: 20px;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-2 {
    position: relative;
    text-align: left;
    color: white;
    
}
.left{
    position: relative;
    margin-left:16pt;
    width: 95.3%;
    top: 5pt;
    background-color: #6e8aff;
    padding: 10px
}
.underHeader{
    background-color: #3fb893;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: -10px;
}
.accordion{
 cursor:pointer;
 width: 98%;
 position: relative;
 margin-left:16pt;
 background-color: #6e8aff;
 padding: 10px;
 border: none;
 outline: none;
 transition: 0.4s;
 font-family: 'Comfortaa', cursive; 
    font-size: 22pt;
    text-align: left;
    top:10px;
    color: white;


}
.panel{
    padding:  18px;
    background-color:#ececec;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    margin-left: 100pt;
    color: #515a5a
}


