body {
  background-color: #CBD1E9;
  font-family: Karla;
  color: #515A5A;
  font-size: 16pt;
  position: relative;
}
    h1 {
      font-family: Comfortaa;
      font-size: 48px;
      color: #ECECEC;
      position: absolute;
      padding-left: 20px;
      display: inline-block;
    }
h2, h3, h5, {
    margin-left: 40px;
}




/* USE THIS HEADER */
header {
  font-family: Comfortaa;
  font-size: 48px;
  padding: 40px;
  background-color: #6e8aff;
  color: white;
  position: relative;
}
.dot {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #4963CE;
  position: relative;

  display: inline-block;
}
.rectangle {
  height: 30px;
  width: 90%;
  background-color: #3fb893;
  margin-left: 5%;
  position: absolute;
  bottom: -15px;
  left: 0px;
}
/*USE THE ABOVE*/
#myBtn {
    background-color: transparent;
    border: none;
    display: inline-block;
}

div > p {
    display: block;
}

h2 {
    margin-top: 40px;
    margin-left: 40px;
}

h3 {
    margin-top: 10px;
    margin-left: 10px;
    
}

.box1, .box2, .box3 {
     margin-top: 40px;
     background-color: #fbfbfb;
     margin-left: 40px;
     margin-right: 40px;
     padding: 20px;
     top: 20px;
}

p {
    margin-left: 40px;
    margin-right: 80px;
}


h5 {
    font-size: 38px;
}


}


#submission input[type="email"], #submission input[type="text"]  {
    margin-left: 0.5%;
}
#submission input[type="radio"] {
    margin-left: 1%;
    margin-bottom: 20px;
}

input[name="DOBDay"], input[name="DOBMonth"], input[name="DOBYear"] {
    margin-left: 40px;
}

.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding:20px;
}
#form {}
input[type=text], select{
    margin-left: 10px;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 
input[type=email], select{
  margin-left: 10px;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], select{
    margin-left: 10px;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    height: 38px;
    background: #4963CE;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #eeeeee;
    font-size: 20px;
}
