body{
    background-color: #ececec;
    }
h2, h3, h5, {
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
    padding: 80px;
    margin-right: 40px;
    background-color: #6e8aff;
    color: #eeeeee;
}

.subheader {
    background-color: #3fb893;
    padding: 20px;
    bottom: 10px;
    margin-right: 55px;
    margin-left:  55px;
    position: relative;
}

div {
    display: block;
}

h2 {
    margin-top: 40px;
    margin-left: 40px;
}

h3 {
    margin-top: 10px;
    margin-left: 40px;
}

.box1, .box2, .box3 {
     margin-top: 40px;
     background-color: #fbfbfb;
     margin-left: 40px;
     margin-right: 40px;
}

p {
    margin-left: 40px;
    margin-right: 80px;
}


h5 { 
    font-size: 38px;
}

    
}
input[type=button] {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #eeeeee;
}

#submission input[type="email"], #submission input[type="text"]  {
    margin-left: 40px;
}
#submission input[type="radio"] {
    margin-left: 40px;
}

input[name="DOBDay"], input[name="DOBMonth"], input[name="DOBYear"] {
    margin-left: 40px;
}
#form